---
const { site } = Astro.props;
---

<footer class="site-footer outer">
  <div class="inner">
    <section class="copyright"><a href="/">{site.title}</a> &copy; 2026</section>
    <nav class="site-footer-nav"></nav>
    <div><a href="https://ghost.org/" target="_blank" rel="noopener">Powered by Ghost</a></div>
  </div>
</footer>
